#head{
background-color:black;
height:4.5rem;
}

ul{
 list-style:none;
 margin:0;
 }


 #rong{
 width:5rem
 }

#LAT>ul{
margin-bottom:0;
}

#LAT >li>a{
color:white;
opacity:0.8;
font-size:1.5rem;
letter-spacing:7rem;
text-decoration:none;
padding:0;
margin-left:0.6rem;
margin-top:0.2rem;
font-style:bold
}
#Clinic > li>a{
color:white;
opacity:1;
font-size:0.8rem;
letter-spacing:3rem;
text-decoration:none;

padding:0
}

#logo > img{
width:4.5rem;
border-radius:50%;
}
#logo{
padding:0.2rem;
margin:0;
margin-left:0.8rem;
}
a{
text-decoration:none;
}

h1{
font-size:1rem;
padding:0.4rem;
border-left:1px solid white;
margin-left:20px;
color: white;
opacity:0.6;
}
#info {
margin-left:9rem;
}
#h1f{
border-left:none;
}

#color >ul>li>a{
    color:black;
    font-size:1.0rem;
    opacity:0.8 ;
    width:7rem;
    text-align:center;
}
#color>ul>li>a:hover{
    color:white;
    font-size:1.rem;
    border-radius:3rem;
}

#menu{
height:4rem;
background-color:#d1d1d1;

}

#Signin {
margin-left:42rem;
}
h2 {
    font-size: 1.0rem;
    background-color: black;
    color: white;
    padding: 3px;
    width: 24rem;
    border-radius: 4rem;
    text-align: center;
    margin-left:2.5rem;
    margin-top:0.5rem;
}
#tt {
font-size:0.9rem;
margin-top:0.5rem;
margin-left:3rem;
margin-right:1rem;
opacity:0.8;
border-radius:4rem;
width:11rem;
}
#tt1 {
font-size:0.9rem;
margin-top:0.5rem;
margin-left:55rem;
margin-right:3rem;
opacity:0.8;
border-radius:4rem;
width:8rem;
}

#tt1:hover{
color:white;
}


#dx{
font-size:0.9rem;
margin-top:0.5rem;
opacity:0.8;
margin-left:3rem;
margin-right:1rem;
border-radius:4rem;
width:6rem;
}
#dx1{
font-size:0.9rem;
margin-top:0.5rem;

opacity:0.8;
border-radius:4rem;
}

#icon{
margin-left:0.5rem;}

h3{

text-align:center;
}
#dx:hover{
color:white;
}
#dx1:hover{
color:white;
}
#anh >img{
width:150%;

}
#social-top{
background-color:black;
color:white;
font-size:1rem;
}

#social-top>img{
margin-left:40rem;
}
#social-top>li:first-child{
width:8rem;
margin-left:40rem;
}
#social-top>li>p{
width:40rem;
margin-bottom:0;
letter-spacing:0.6rem;
margin-left:30rem;
}

h5{
font-size:1.5rem;
color:white;
background-color:black;
text-align:center;
width:30rem;
padding:0.6rem;
border-radius:4rem;
margin-top:2rem;
margin-left:12rem;
}
h4{
font-size:2rem;
color:white;
background-color:black;
text-align:center;
padding:4px;
border-radius:4rem;
margin-top:2rem;
}
.backToTop1 {
display: none;
position: fixed;
  z-index: 1020;
  right: 25px;
  bottom: 25px;
  width: 63px;
  opacity:1;
  height: 63px;
  border-radius: 50%;
  background: #15345c;
  font-size: 18px;
  line-height: 63px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.25s, bottom 0.75s ease-in-out;
}




#tieude{
padding:0;
}
#tieude >li>div>a>i{
 font-size:8rem;
 margin-left:5rem;
 color:black;
 margin-top:3rem;

}
#tieude >li>div>div>p{

 margin-left:1.6rem;

 margin-top:0.6rem;

}
#table{
margin-bottom:2rem;

}
td{
padding:0;
width:20rem;

}
.stt{
width:7rem;
}
.idtt{
width:8rem;
}
.tenbnhh{
width:15rem;
}
.choi{
width:4rem;
}
.scroll-box {
    width:100%;
    height:20rem;
    overflow-y:scroll;

}
.frame{
width: 15rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: #dfe0db;
    color: black;
    border-radius: 3rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left:10rem;
}

.framm{
    width: 45rem;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    border-radius: 3rem;
    height: 3rem;
    margin-top: 0.6rem;

}
.tkthuoc {
background-color: white;
color: black;
width:60rem;
height:3rem;
margin-top:4rem;
margin-left:6rem;
border-color:black;
border-width:0.1rem;

}
.nutt {
margin-left:0.4rem;
width:8rem;
height:3rem;
font-size:2rem;
margin-top:3.6rem;
background-color:#87968f;
border-radius:1rem;
border-color:#87968f;
border-width:0;
}

.nut {
margin-left:0.4rem;
width:4rem;
height:3rem;
font-size:2rem;
margin-top:3.6rem;
background-color:#c1dca4;
border-radius:1rem;
border-color:#87968f;
border-width:0;
}
.btnn{
    width: 14rem;
    margin-left: 10rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    height: 3rem;
    background-color: #113254;
    border-width: 0;
    color:white;
    font-size:1.2rem;
    }
.right{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: between;
    flex-wrap: wrap;
    width: 65%;
    margin-left: 25%;
}
.right {
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-left: 15rem;
}
.main >img{
    width:20rem;
    margin-top:2rem;
    border-radius:10rem;
}
