{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-info">BÁO CÁO THỐNG KÊ</h1>


<div class="row">
    <div class="col-md-5 col-xs-12">
        <table class="table">
            <tr>
                <th>STT</th>
                <th>Thuốc</th>
                <th>Đơn vị tính</th>
                <th>Số lượng</th>
                <th>Số lần dùng</th>
            </tr>
            {% for s in mon_stats %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-xs-12">
        <canvas id="myChart2"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let data = [];
    let labels = [];
    let aData=[];
    let mData = [];
    let mLabels = [];
  {%  for s in stats %}
  data.push({{s[2]}})
  labels.push('{{s[1]}}')
  {% endfor %}

  {%  for s in mon_stats %}
  mData.push({{s[2]}})
 aData.push({{s[3]}})
  mLabels.push('{{s[0]}}')

  {% endfor %}


  window.onload = function() {
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: '#Số lượng thuốc',
            data: data,
            borderWidth: 1,
            backgroundColor: ['red', 'green', 'blue', 'gold', 'orange']
          }
          ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      const ctx2 = document.getElementById('myChart2');

      new Chart(ctx2, {
        type: 'bar',
        data: {
          labels: mLabels,
          datasets: [{
            label: '# Số lượng thuốc',
            data: mData,
            borderWidth: 1,
            backgroundColor: ['red', 'green', 'blue', 'gold', 'orange']
          },
          {
            label: '#Số lần dùng thuốc',
            data: aData,
            borderWidth: 1,
            backgroundColor: ['pink','black','purple','aqua','violet']
          }
]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
  }
</script>

{% endblock %}