<button class="backToTop1 js-backToTop" id="myBtn">
    <i class="icon fa-solid fa-arrow-up" ></i></button>
    <script>
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    document.getElementById('myBtn').addEventListener("click", function(){
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    });
</script>
<footer>

    <span class="container row">
        <span class="map col-8 col-sm-8 col-md-8 table-cell">
            <h4 class="map">BẢN ĐỒ</h4>
            <span class="googleMap">
            	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501726.4604581616!2d106.41502904722066!3d10.75466639456531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2zSOG7kyBDaMOtIE1pbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1628045765053!5m2!1svi!2s"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>            </span>
        </span>
        <span class="map col-4 col-sm-6 col-md-4 table-cell " id="anh">
            <img src="https://i.pinimg.com/564x/c5/2d/3f/c52d3f440e91b33f7a00ae0dc6efc7f4.jpg">
        </span>
    </span>
    <span class="container" id="full">
        <ul class="end navbar-expand-sm"  id="social-top" >
            <li class="nav-item"><img height="50" alt="LATCLINIC" src="https://img.upanh.tv/2024/01/12/Screenshot-2024-01-12-010359.png"></li>
            <li class="nav-item"><p class="copyRight">Copyright © 2024 LAT CLINIC</p></li>
        </ul>
    </span>
</footer>








