{% extends 'layout/base.html'%}
{% block content%}

    <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.upanh.tv/2024/01/06/pngtree-cancer-patient-visiting-doctor-for-medical-consultation-in-clini-cancer-patient-picture-image_2097719.png" alt="Los Angeles" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://img.upanh.tv/2024/01/06/ngoai.jpg" alt="Chicago" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://img.upanh.tv/2024/01/06/165832sieu-am-thai.jpg" alt="New York" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


        <h4 class="titleTrajanBold titleUnderline" , style="text-align:center">BẢNG GIÁ DỊCH VỤ KHÁM CHỮA BỆNH</h4>

    <div id="table">
    <table class="table-bordered" border="4" cellpadding="20">
        <tr>
            <th>STT</th>
            <th>Tên dịch vụ</th>
            <th>Bảng giá</th>
            <th>Gía BHYT</th>
        </tr>

            <td>1</td>
            <td>Khám nội</td>
            <td>200.000 </td>
            <td>50.000</td>
        </tr>
         <tr>
            <td>2</td>
            <td>Khám nội chuyên khoa</td>
            <td>300.000 </td>
            <td>50.000</td>
        </tr>
         <tr>
            <td>3</td>
            <td>Khám phụ khoa</td>
            <td>200.000 </td>
            <td>50.000</td>
        </tr>
         <tr>
            <td>4</td>
            <td>Khám phụ khoa chuẩn đoan ung thư cổ tử cung </td>
            <td>300.000 </td>
            <td>50.000</td>
        </tr>
         <tr>
            <td>5</td>
            <td>Khám ngoại khoa và chuẩn đoán ung thư vú</td>
            <td>300.000 </td>
            <td>50.000</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Khám nhi </td>
            <td>200.000 </td>
            <td>50.000</td>
        </tr>
         <tr>
            <td>7</td>
            <td>Khám nhi và tư vấn dinh dưỡng</td>
            <td>200.000 </td>
            <td>50.000</td>
        </tr>
         <tr>
            <td>8</td>
            <td>Khám phụ sản</td>
            <td>200.000 </td>
            <td>50.000</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Chụp cộng hưởng từ cột sống cổ</td>
            <td>2.200.000 </td>
            <td>650.000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Chụp cộng hưởng từ cột sống ngực</td>
            <td>2.200.000 </td>
            <td>650.000</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Chụp cộng hưởng từ cột sống cổ</td>
            <td>2.200.000 </td>
            <td>650.000</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Chụp cộng hưởng từ đáy sọ và xương đá</td>
            <td>3.200.000 </td>
            <td>850.000</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Chụp cộng hưởng từ cột chi dưới </td>
            <td>2.200.000 </td>
            <td>650.000</td>
        </tr>
         <tr>
            <td>14</td>
            <td>Chụp cộng hưởng từ cột chi dưới </td>
            <td>2.200.000 </td>
            <td>650.000</td>
        </tr>
         <tr>
            <td>15</td>
            <td>Siêu âm 2D - Thai đơn </td>
            <td>500.000 </td>
            <td>200.000</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Siêu âm 2D - Thai đôi </td>
            <td>800.000 </td>
            <td>200.000</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Siêu âm bụng tổng quát </td>
            <td>1.000.000 </td>
            <td>250.000</td>
        </tr>
         <tr>
            <td>18</td>
            <td>Siêu âm Doppler tim </td>
            <td>800.000 </td>
            <td>200.000</td>
        </tr>
         <tr>
            <td>19</td>
            <td>Siêu âm tuyến giáp </td>
            <td>800.000 </td>
            <td>200.000</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Giường nội khoa loại 1  - Khoa nội tổng hợp </td>
            <td>2.800.000 </td>
            <td>700.000</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Giường nội khoa loại 1  - Khoa phụ sản </td>
            <td>2.800.000 </td>
            <td>700.000</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Giường nội khoa loại 2 - Khoa nội tổng hợp </td>
            <td>2.500.000 </td>
            <td>600.000</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Giường nội khoa loại 2 - Khoa phụ sản </td>
            <td>2.500.000 </td>
            <td>600.000</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Giường ngoại khoa loại 1 - Khoa ngoại tổng hợp </td>
            <td>2.800.000 </td>
            <td>700.000</td>
        </tr>
         <tr>
            <td>25</td>
            <td>Giường ngoại khoa loại 1 - Khoa ngoại phụ sản </td>
            <td>2.800.000 </td>
            <td>700.000</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Giường ngoại khoa loại 2 - Khoa ngoại tổng hợp </td>
            <td>2.500.000 </td>
            <td>700.000</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Giường ngoại khoa loại 2 - Khoa ngoại phụ sản </td>
            <td>2.500.000 </td>
            <td>700.000</td>
        </tr>


    </table>
</div>

    {% endblock %}



