{% extends 'layout/base.html'%}
{% block content%}


    <div class="anh">
        <div class="dashboard-banner">
            <img src="https://img.upanh.tv/2024/01/06/phongkham.jpg">
        </div>
    </div>

    <aside class="ten">
        <h1 class="titleTrajanBold titleUnderline" , style="text-align:center">DỊCH VỤ KHÁM CHỮA BỆNH</h1>
    </aside>

    <div class="card-content">
        <div class="card">
            <div class="card-detail">
                <h4>KHOA NHI - KHÁM BỆNH VÀ ĐIỀU TRỊ NHI</h4>
            </div>
            <img class="card-image"  src="https://img.upanh.tv/2024/01/06/Kham-benh-Nhi-895x597.jpg">

        </div>
         <div class="card">
             <div class="card-detail">
                <h4>KHOA NỘI - KHÁM BỆNH, CHUẨN ĐOÁN VÀ ĐIỀU TRỊ BỆNH</h4>
            </div>
            <img class="card-image" src="https://img.upanh.tv/2024/01/06/bac-si-gia-dinh-9.webp">

        </div>
         <div class="card">
             <div class="card-detail">
                <h4>KHOA PHỤ KHOA - KHÁM VÀ ĐIỀU TRỊ CÁC BỆNH PHỤ KHOA</h4>
            </div>
            <img class="card-image" src="https://img.upanh.tv/2024/01/06/phukhoa.jpg">

        </div>
        <div class="card">
            <div class="card-detail">
                <h4>CHỤP CỘNG HƯỞNG TỪ(MRI)</h4>
            </div>
            <img class="card-image" src="https://img.upanh.tv/2024/01/06/154606chup-cong-huong-tu.jpg">

        </div>
    </div>
</div>
{% endblock %}