{% extends 'layout/base.html'%}
{% block content %}
<span>
<<div class="scroll-box">
         <table id="nodee" class="table table-dark table-striped">
        <p>Phiếu khám</p>
        <thead>
        <tr>
            <th>STT</th>
            <th>Mã bệnh nhân</th>
            <th>Tên bệnh nhân</th>
            <th>Ghi chú</th>
            <th>Bệnh đã từng</th>

        </tr>
        </thead>
        <tbody>
        {% for th in HoSoBenhNhan%}
        <tr>

            <td>{{loop.index}}</td>
            <td>{{th.id_HSBN}}</td>
            <td>{{th.HoTen}}</td>
             <td>{{th.GhiChu}}</td>
            <td>{{th.ChuanDoanBenh}}</td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
         </div>
</span>
{% endblock %}