{% extends 'layout/base.html'%}
{% block content %}
<span>
     <form method="get" class="d-flex">
        <input class="form-control me-2 tkthuoc " type="text" placeholder="Tìm kiếm hồ sơ bệnh nhân" name="tenbn" >
          <div class="p-2 ">
        <button class="nutt"  type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
         <div class="p-2">
          <button class="nutt" data-bs-toggle="tooltip" title="Bỏ tìm kiếm" type="submit">x</button>
        </div>
    </form>
     <div class="d-flex flex-row ">
    <div class="p-2">
          <button data-bs-toggle="tooltip" title="ẩn/hiện bảng thuốc" class="nuttt" onclick="hienthi()" type="submit"><i class="fa-solid fa-hospital-user"></i></button>
    </div>
     </div>
    <div class="scroll-box" id="hsbn">
         <table id="nodee" class="table table-dark table-striped">
        <thead>
        <tr>
            <th>STT</th>
            <th>Mã bệnh nhân</th>
            <th>Tên bệnh nhân</th>
            <th>Ghi chú</th>
            <th>Bệnh đã từng</th>

        </tr>
        </thead>
        <tbody>
        {% for th in HoSoBenhNhan%}
        <tr>

            <td class="stt">{{loop.index}}</td>
            <td class="idtt">{{th.id_HSBN}}</td>
            <td class="tenbnhh">{{th.HoTen}}</td>
             <td>{{th.GhiChu}}</td>
            <td>{{th.ChuanDoanBenh}}</td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
         </div>
</span>
{% endblock %}