{% extends 'layout/base.html'%}
{% block content %}
<form method="get">
<span>
    <label class="form-label">Họ tên bệnh nhân:</label>
    <select class="form-select" id="HoTen">
        {% for a in NguoiDung%}
        {% if a. VaiTro.value== 1 %}
        {% if a. HoTen == PhieuKham.HoTen %}
        <option selected>{{a.HoTen}}</option>
        {% else%}
        <option>{{a.HoTen}}</option>
        {%endif%}
        {%endif%}
        {% endfor %}
    </select>
   <label class="form-label">Ngày khám:</label>
    <input id="hvn" name="NgayKham" type=text class="form-control form-control-lg">
    <label class="form-label">Triệu chứng:</label>
    <input id="TrieuChung" value="{{PhieuKham.TrieuChung}}" type="text" class="form-control form-control-lg"
           placeholder="Triệu chứng">
    <label class="form-label">Dự đoán loại bệnh:</label>
    <input id="LoaiBenh" value="{{PhieuKham.LoaiBenh}}" type="text" class="form-control form-control-lg"
           placeholder="Dự đoán loại bệnh">



    <label class="form-label">Bác sĩ:</label>
    <input id="BacSi" type="text" class="form-control form-control-lg" value="{{current_user.HoTen}}">
    </span>
    <span>

    <form method="get" action="/">
        <input class="form-control me-2 " type="text" placeholder="Search" name="key" id="search">
        <button class="btn btn-primary" type="submit">Search</button>
           <button class="btn btn-danger" type="submit">x</button>
      </form>
            <button class="btn btn-primary" onclick="hien()" type="button">Try it</button>

        <div class="scroll-box" id="bangthuoc" style="display:none">
         <table id="node" class="table table-dark table-striped">
        <thead>
        <tr>
            <th></th>
            <th>STT</th>
            <th>Mã thuốc</th>
            <th>Tên thuốc</th>
            <th>Đơn vị</th>


        </tr>
        </thead>
        <tbody>
        {% for th in Thuoc%}
        <tr>
             <td><input  type="checkbox" name="thuoc"  value="{{th.id_Thuoc}}"></td>
            <td>{{loop.index}}</td>
            <th>{{th.id_Thuoc}}</th>
            <td>{{th.TenThuoc}}</td>
            {% for dv in DonViThuoc %}
            {% if dv.id_DVT == th.id_DVT %}
            <td>{{th.TenDVT}}</td>
            {% endif %}
            {% endfor %}

        </tr>
        {% endfor%}
        {{PhieuKham}}
        </tbody>
    </table>
           </div>
</span>

    <SPAN>
         <button class="btn btn-primary" onclick="hienthi()" type="button">Try it</button>
         <form method="get" action="">
        <input class="form-control me-2 " type="text" placeholder="Search" name="hsbn" id="searchHSBN">
        <button class="btn btn-secondary" type="submit">Search</button>
           <button class="btn btn-danger" type="submit">x</button>
      </form>
     <div class="scroll-box" id="hsbn">
         <table id="nodee" class="table table-dark table-striped">
        <p>Phiếu khám</p>
        <thead>
        <tr>
            <th>STT</th>
            <th>Mã bệnh nhân</th>
            <th>Tên bệnh nhân</th>
            <th>Ghi chú</th>
            <th>Bệnh đã từng</th>

        </tr>
        </thead>
        <tbody>
        {% for th in HoSoBenhNhan%}
        <tr>

            <td>{{loop.index}}</td>
            <td>{{th.id_HSBN}}</td>
            <td>{{th.HoTen}}</td>
             <td>{{th.GhiChu}}</td>
            <td>{{th.ChuanDoanBenh}}</td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
         </div>
</SPAN>
    <!--<input type="text" value="1">-->

    <button onclick="add_PK()" type="button" class="btnn btn-primary">
        Xuất phiếu khám
    </button>
     <button onclick="getThuoctuPK()" type="button" class="btnn btn-primary">
        Xuất chi tiết phiếu khám
    </button>
    <button onclick="luuTamThoi()" type="button" class="btnn btn-primary">
        Lưu tạm thời
    </button>
    <div class="alert alert-success success" style="display:none">
        Đăng kí khám thành công
    </div>
    <div class="alert alert-danger error" style="display:none">
        Đăng kí khám không thành công
    </div>


    </span>


</form>

{% endblock%}